/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */
tbody tr:nth-child(odd) {
    background-color: #E5E5E5;
}

table {
  background-color: #e5e5e5;
  border-color: #172A5D;
  border: 2px solid;
  margin: auto;
}
th{
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}

.App{
    background-color: #172A5D;
    text-align: center;
}

h2{
    color: #E5E5E5;
}